@model StoreFront.UI.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div class="form-container mt-5">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger mb-3" })

        <h2 class="text-center mb-5">@ViewBag.Title</h2>


        <div class="d-flex flex-column">
            <div class="w-100 mb-5 ml-3">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label mr-5" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control w-75", placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="d-flex justify-content-around w-100 mb-5">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "control-label mr-3" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label mr-3" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="d-flex justify-content-around w-100 mb-5">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label mr-3" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label mr-3" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="text-center">
                <input type="submit" class="site-btn admin-btn" value="Register" />
            </div>

        </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
