@model IEnumerable<StoreFront.DATA.EF.Category>

@{
    ViewBag.Title = "Categories";
}

<h2 class="text-center mb-5">@ViewBag.Title</h2>

<table class="table w-50 m-auto">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td class="text-right">
                @Html.ActionLink("Edit", "Edit", new { id = item.CateogryID }, new { @class = "btn btn-secondary" }) 
                @Html.ActionLink("Details", "Details", new { id = item.CateogryID }, new { @class = "btn btn-success" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.CateogryID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<p class="text-center mt-5">
    @Html.ActionLink("Create New", "Create", "Categories", new { @class = "btn btn-light" })
</p>

