@model StoreFront.DATA.EF.Manufacture

@{
    ViewBag.Title = Model.ManufacturerName;
}

<div class="container mt-5">
    <h2 class="text-center mb-4">@Model.ManufacturerName</h2>

    <div>
        <dl class="text-center">
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            @if (Model.State != null)
            {
                <dt class="mt-4">
                    @Html.DisplayNameFor(model => model.State.StateName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State.StateName)
                </dd>
            }

            <dt class="mt-4">
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
        </dl>
    </div>
    <div class="text-center mt-4">
        @Html.ActionLink("Edit", "Edit", "Manufacturers", new { id = Model.ManufacturerID, @class = "site-btn cancel-btn ml-3" }) 
        @Html.ActionLink("Manfacturers", "Index", "Manufacturers", new { @class = "site-btn admin-btn ml-3" })
    </div>
</div>