@model StoreFront.DATA.EF.Manufacture

@{
    ViewBag.Title = "Manufactuter Details";
}

<h2 class="text-center my-5">@ViewBag.Title</h2>

<div>

    <dl class="dl-horizontal text-center">
        <dt>
            @Html.DisplayNameFor(model => model.ManufactureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufactureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>



        @if (Model.State != null)
        {
            <dt class="mb-2">
                @Html.DisplayNameFor(model => model.State.StateName)
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.State.StateName)
            </dd>
        }

    </dl>
    <div class="text-center my-5 d-flex justify-content-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ManufactureID }, new { @class = "btn btn-success mx-2" })
        @Html.ActionLink("Back to List", "Index", "Manufactutures", new { @class = "btn btn-secondary mx-2" })
    </div>
</div>

