@model IEnumerable<StoreFront.DATA.EF.Manufacture>

@{
    ViewBag.Title = "Manufacturers";
}

<div class="container">
    <h2 class="text-center mb-4">@ViewBag.Title</h2>

    <table class="table" id="manufacturesTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ManufacturerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State.StateName)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr id="Manufacturer-@item.ManufacturerID">
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State.StateName)
                    </td>
                    <td>
                        <a class="action-icon EditLink" href="@Url.Action("Edit", "Manufactures", new { id = item.ManufacturerID })">
                            <i class="far fa-edit"></i>
                        </a>
                        @Ajax.ActionLink(" ", "AjaxDelete", "Manufactures", new { id = item.ManufacturerID }, new AjaxOptions {
                            HttpMethod = "POST",
                            Confirm = $"Are you sure you want to delete {item.ManufacturerName} from manufactures?",
                            OnSuccess = "deleteConfirmed"
                        },
                            new { @class = "delete-link action-icon" }
                        )

                    </td>
                </tr>
            }
        </tbody>

    </table>


    <div class="text-center mt-4">
        @Html.ActionLink("Create Manufacturer", "Create", "Manufactures", new { @class = "admin-btn site-btn" })
    </div>

   
</div>




@section scripts{

    <script>

        //datatables.net
        $(document).ready(function () {
            $('.table').DataTable();
        });

        $('.delete-link').prepend(`<i class="far fa-trash-alt"></i>`);

        //deleteConfirimed()
        function deleteConfirmed(response) {
            const table = $('.table').DataTable();
            const rowId = '#Manufacturer-' + response.id;
            const row = table.row($(rowId))
            row.remove();
            //$('#manufacturesTable').find(rowId).remove();

            //diplay status message in layout
            //$('#MessageContent').html(`<div class="alert alert-success">${response.message}</div>`);
            $('#MessageContent').html(
                `<div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    ${response.message}
                </div>`);
        }


    </script>
}
