<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!--Datatables.net-->
    <link href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="header__top__links d-flex flex-row justify-content-end">
                    @*<a href="#">Sign in</a>
                        <a href="#">Register</a>*@
                    @Html.Partial("_LoginPartial")

                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="header__logo">
                    <a href="./index.html">Sleep Well CPAP Shop</a>
                </div>

                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "Products")">Shop</a></li>
                        <li><a href="@Url.Action("Index", "ShoppingCart")">Shopping Cart</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                    </ul>
                </nav>

                @* Only display shopping cart icon if items are in shopping cart *@
                @if (Session["cart"] != null &&
                                    ((Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"])
                                    .Count > 0)
                {
                    Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel> products = (Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"];
                    decimal total = 0m;
                    decimal tax = 0.04225m;
                    int count = products.Count;
                    foreach (var item in products)
                    {
                        total += item.Value.Qty * item.Value.CartItem.Price;
                    }
                    total += (total * tax);

                <div class="header__nav__option">

                    <a href="#"><img src="~/Content/img/icon/cart.png" alt=""> <span>@count</span></a>
                    <div class="price ml-2">@string.Format($"{total:c}")</div>
                </div>
                }



            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <div id="MessageDisplay">
        <div class="w-50 m-auto text-center" id="MessageContent">

        </div>
    </div>

    @RenderBody()

    <footer class="footer mt-5">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        Copyright © @DateTime.Now.Year
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!--Ajax script-->
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>
    <!--Datatables.net-->
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/main.js"></script>



    @RenderSection("scripts", required: false)
</body>

</html>