@using Microsoft.AspNet.Identity


@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    if (Request.IsAuthenticated)
    {
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "user-name, nav-link" })
        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>
        if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.ActionLink("Roles Admin", "Index", "RolesAdmin", new { @class = "nav-link" })
            @Html.ActionLink("Users Admin", "Index", "UsersAdmin", new { @class = "nav-link" })
        }
    }
    else
    {
        @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    }
}



@*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "user-name, nav-link" })
        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>

        if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li class="nav-item">@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin", new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin", new { @class = "nav-link" })</li>
        }
    }
            else
            {
                        @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            }



                }*@
