@model IEnumerable<StoreFront.DATA.EF.Item>

@{
    ViewBag.Title = "Items";
}

<h2 class="text-center mb-4">@ViewBag.Title</h2>

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ItemImage)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Manufacture.ManufacturerName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.IsFeatured)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.ItemImage)*@
                        <img src="~/Content/img/product/t_@item.ItemImage" alt="Item Image" title="@item.ItemName" />
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Manufacture.ManufacturerName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IsFeatured)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Items", new { id = item.ItemID })" class="action-icon"><i class="far fa-edit"></i></a>
                        <a href="@Url.Action("Delete", "Items", new { id = item.ItemID })" class="action-icon"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <div class="text-center mt-4">
        @Html.ActionLink("Create New Item", "Create", "Items", new { @class = "site-btn admin-btn" })
    </div>
</div>


@section scripts{

    <script>

        $(document).ready(function () {
            $('.table').DataTable();
        });

    </script>
}
