@model StoreFront.UI.MVC.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<div class="container">
    <h2 class="text-center mb-4">Edit @Model.Email</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal w-50 m-auto">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group mb-4">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Roles", new { @class = "control-label mx-3" })
                <span>
                    @foreach (var item in Model.RolesList)
                    {
                        <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                        @Html.Label(item.Value, new { @class = "control-label" })
                    }
                </span>
            </div>

            <div class="form-group text-center mt-4">
                <a href="@Url.Action("Index", "UsersAdmin")" class="site-btn cancel-btn ml-2">Cancel</a>
                <input type="submit" value="Save" class="site-btn admin-btn ml-2" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
