@model IEnumerable<StoreFront.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<div class="container">

    <h2 class="text-center">@ViewBag.Title</h2>

    <table class="table w-50 m-auto">
        <tr class="text-center">
            <th>
                User Email
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a href="@Url.Action("Details", "UsersAdmin", new { id = item.Id})" class="action-icon"><i class="fas fa-info-circle"></i></a>
                    <a href="@Url.Action("Edit", "UsersAdmin", new { id = item.Id})" class="action-icon"><i class="far fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "UsersAdmin", new { id = item.Id})" class="action-icon"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }

    </table>

    <!--Create Button-->
    <div class="text-center">
        @Html.ActionLink("Create New User", "Create", "UsersAdmin", new { @class = "site-btn admin-btn mt-4" })
    </div>
</div>
