@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaskSize.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockStatu.StockStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineType.MachineTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaskType.MaskTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaskSize.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockStatu.StockStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MachineType.MachineTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaskType.MaskTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.ItemName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
