@model StoreFront.DATA.EF.MaskType


@using (Html.BeginForm("", "", FormMethod.Post, new { id = "MaskTypeEditForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaskTypeID)

        <div class="modal-header m-auto mb-4">
            <h4>Edit Mask Type</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group m-auto">
                @Html.EditorFor(model => model.MaskTypeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaskTypeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="modal-footer mt-3">
            <div class="form-group w-75 m-auto d-flex justify-content-center">
                <input type="button" value="Cancel" class="site-btn cancel-btn mr-3" data-dismiss="modal" />
                <input type="submit" value="Save" class="site-btn admin-btn mr-3" />
            </div>
        </div>
    </div>
}

    <script>

        $('#MaskTypeEditForm').submit(function (e) {
        e.preventDefault();
        const formData = $(this).serializeArray();
        //telling user to wait will category is being edited in db
        $('#MessageContent').html(`<div class="alert alert-info">Please wait....</div>`);

        $.ajax({
            url: "@Url.Action("AjaxEdit", "MaskTypes")",
            type: "POST",
            data: formData,
            success: function (response) {
                $('#MessageContent').html(`<div class="alert alert-success">
                                               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                               Your record was updated
                                           </div>`);

                //Populate table with new Category name
                $('#MaskType-' + response.MaskTypeID + ' .masktype-name').html(response.MaskTypeName);

                //hidding modal
                $('#EditModal').modal('hide');
            },
            error: function (e) {
                $('#MessageContent').html(`<div class="alert alert-warning">
                                               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                               There was an error. Please try again or contact the site adminmistrator
                                           </div>`);
            }
        });
    });

    </script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
