@model StoreFront.DATA.EF.Deparatment

@{
    ViewBag.Title = "Department Details";
}

<h2 class="text-center my-5">@ViewBag.Title</h2>

<div class="admin-form text-center">
    <span class="font-weight-bold mr-3 mb-5">
        @Html.DisplayNameFor(model => model.DepartmentName):
    </span>
    <span>
        @Html.DisplayFor(model => model.DepartmentName)
    </span>
    <div class="text-center my-5 d-flex justify-content-around">
        @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }, new { @class = "btn btn-success"})
        @Html.ActionLink("Back to List", "Index", "Departments", new { @class = "btn btn-secondary"})
    </div>
</div>

